name: ci

on:
    push:
        branches: ["main"]
    schedule:
        - cron: '9 0 * * *'
    



jobs:
    tests:
        name: Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Docker Buildx Setup
              uses: docker/setup-buildx-action@v1

            - name: Build Image
              run: docker build -t healthchecker:latest .

            - name: Trivy Scan
              uses: aquasecurity/trivy-action@master
              with:
                  image-ref: healthchecker:latest
                  format: 'table'
                  exit-code: '1'
                  severity: 'CRITICAL,HIGH'

            - name: Success Message
              if: success()
              run: echo "No critical or high vulnerabilities found."

